Host server1.dev
  HostName server1.management.dev.server.com

Host server2.dev
  HostName server2.management.dev.server.com

Host server3.dev
  HostName server3.management.dev.server.com

Host server4.pro
  HostName server4.management.pro.server.com
  
Host server1.pro
  HostName server1.management.pro.server.com

Host server2.pro
  HostName server2.management.pro.server.com

Host server3.pro
  HostName server3.management.pro.server.com

Host server4.pro
  HostName server4.management.pro.server.com
  
Host *
  IdentityFile ~/.ssh/YOUR_DEFAULT_PRIVATE_KEY
  Port         YOUR_DEFAULT_PORT
